services:
  mysql:
    image: mysql:8.0
    container_name: mysql-laravel
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
