/* Css puro é criado nesta pasta public e acessado por meio de {{ assets('/css/...') }} */
form {
    display: flex;
    flex-direction: column;
}

.nav {
    background: #696969;
}

.false-alert {
    display: none;
}

input,
select,
button {
    margin: 1rem 0;
}

.header {
    padding: 2rem;
}

a {
    text-decoration: none;
}

.btn {
    background-color: azure;
    border: 1px solid #000;
    width: 5em;
    padding: 5px;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.content-table {
    width: 100%;
}

th > a {
    color: #fff;
}

button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}

.links-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
